<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SavescumBuddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SavescumBuddy.Properties.Settings>
            <setting name="SoundCuesOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeysOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutobackupsOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QSKey" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="QLKey" serializeAs="String">
                <value>119</value>
            </setting>
            <setting name="QSMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QLMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Skip" serializeAs="String">
                <value>"Never"</value>
            </setting>
            <setting name="Overwrite" serializeAs="String">
                <value>"Never"</value>
            </setting>
            <setting name="LikedOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideAutobackups" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LimitTen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OrderByDesc" serializeAs="String">
                <value>False</value>
            </setting>
        </SavescumBuddy.Properties.Settings>
    </userSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=%APPDATA%\bokuwazheng\DB.db;Version=3;" providerName="System.Data.SqlClient"/>
    <add name="Debug" connectionString="Data Source=.\DB.db;Version=3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>